<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="EncryptKey" value="TireTrax_!_Web"/>
    <add key="BaseURL" value=""/>
    <add key="FileUploadLocation" value="/images/UploadedImages/Logo/"/>
    <add key="MaxLogoSize" value="2097152"/>
    <add key="YahooApiKey" value="dj0yJmk9VXZBejVNUE13WkVXJmQ9WVdrOU5rbFhPVE0xTkc4bWNHbzlNVFk0T0RNek16TTJNZy0tJnM9Y29uc3VtZXJzZWNyZXQmeD04Yw--"/>
    <add key="LogoUploadLocation" value="/uploads/logo/stewardship/"/>
    <add key="smtpServer" value="mail.intelligentsiasoftware.com"/>
    <add key="smtpUser" value="bilal@intelligentsiasoftware.com"/>
    <add key="smtpPw" value="Password#1"/>
    <add key="EmailUrlStaging" value="http://epr.techsolutions.net/"/>
    <add key="EmailUrl" value="http://localhost:55997/"/>
    <add key="StewardshipStandardIDs" value="20,115,121,127"/>
    <add key="ConsumerStandardIDs" value="343,344,345,346,347,348,349,350"/>
    <add key="StewardshipStandardIDs" value="20,115,121,127"/>
    <add key="ConsumerStandardIDs" value="343,344,345,346,347,348,349,350"/>
    <add key="GlobalStewardStandardIDs" value="47,120,126,132"/>
    <add key="LocalStewardStandardIDs" value="21,116,122,128"/>
    <add key="StakeholderStandardIDs" value="22,117,123,129"/>
    <add key="GovernmentAgencyStandardIDs" value="23,118,124,130"/>
    <add key="LawEnforcementAgencyStandardIDs" value="24,119,125,131"/>
<!--staging url-->
    <!--<add key="DomainURLPublic" value="http://eprgeneral.techsolutions.net/"/>
    <add key="DomainURLAdmin" value="http://eprgeneraladmin.techsolutions.net/"/>-->
    <!--local url-->
    <add key="DomainURLPublic" value="http://localhost:55997/"/>
    <add key="DomainURLAdmin" value="http://localhost:49346/"/>
    
    
    <add key="LoginTime" value="100"/>
    <add key="LoginTimeRemember" value="150"/>
  
  </appSettings>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <!--Local database enviroment-->
    <!--<add name="TireTraxConnectionString" connectionString="Data Source=192.168.1.45\mssqlserver2012;User ID=applogin;pwd=applogin;Initial Catalog=EPR_General;Integrated Security=false" providerName="System.Data.SqlClient"/>-->
    <!--Staging database enviroment-->
    <!--<add name="TireTraxConnectionString" connectionString="Data Source=50.97.147.9,2433;User ID=devuser;pwd=appuser;Initial Catalog=TireTrax;Integrated Security=false" providerName="System.Data.SqlClient"/>-->
    <!--<add name="TireTraxConnectionString" connectionString="Data Source=10.13.244.92;User ID=applogin;pwd=7486#@!applogin15496;Initial Catalog=TireTrax;Integrated Security=false" providerName="System.Data.SqlClient"/>-->
    <!--<add name="TireTraxConnectionString" connectionString="Data Source=192.168.1.45\mssqlserver2012;User ID=applogin;pwd=applogin;Initial Catalog=EPR_General;Integrated Security=false" providerName="System.Data.SqlClient"/>-->
    <add name="TireTraxConnectionString" connectionString="Data Source=184.154.74.107,2433;User ID=tiretrax_user;pwd=t1r3trax;Initial Catalog=EPR_General_12Aug;Integrated Security=false" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime maxRequestLength="8192" requestValidationMode="2.0"/>
    <compilation debug="true" targetFramework="4.5.1">
      <assemblies>
        <add assembly="Microsoft.SqlServer.Types, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.DataVisualization, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.ProcessingObjectModel, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.WinForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="/Login/login.aspx" timeout="2880" name="ClientCookie"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Styles">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
  </system.webServer>
</configuration>